.music-player{background: url('../images/music-player-bg.jpg') no-repeat center top;}

.playerbox{ margin: auto;width: 1280px;overflow: hidden; min-height: 800px;}
.playerbox-r{float: right;width: 340px; padding-right: 80px;}
.controllerbox{width: 1280px; margin: auto; height: 80px;}

.player-head{width: 1280px; margin: auto
}