@charset "UTF-8";
.group-user-admin-t {
  position: relative; }
  .group-user-admin-t h3 {
    font-size: 20px;
    color: #333;
    padding-top: 30px; }
  .group-user-admin-t .position {
    padding-top: 15px; }

.group-user-admin-l {
  float: left;
  width: 340px; }

.group-user-admin-r {
  float: right;
  width: 910px; }

.group-info {
  padding: 49px 30px 40px 30px;
  text-align: center; }
  .group-info h3 {
    font-size: 16px;
    font-weight: normal;
    padding: 15px 0; }
  .group-info ul {
    text-align: left;
    font-size: 14px;
    line-height: 30px; }
    .group-info ul li strong {
      color: #18b2d8;
      font-size: 18px;
      padding-right: 3px; }
    .group-info ul li label {
      width: 85px;
      display: inline-block; }
    .group-info ul li.on {
      color: #18b2d8; }
  .group-info .wantaddbox {
    padding-top: 30px; }
    .group-info .wantaddbox a#apply {
      width: 118px;
      height: 36px;
      font-size: 14px;
      color: #fff;
      line-height: 38px;
      text-decoration: none;
      display: inline-block;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      border: 1px solid #18b2d8;
      margin: 0 6px;
      background: #18b2d8 url("../images/tagbox-add.png") no-repeat 14px 11px;
      text-align: left;
      text-indent: 40px; }
    .group-info .wantaddbox a.tougao {
      width: 118px;
      height: 36px;
      font-size: 14px;
      line-height: 38px;
      text-decoration: none;
      display: inline-block;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      border: 1px solid #18b2d8;
      margin: 0 6px;
      background: #fff url("../images/feiji-on.png") no-repeat 10px 8px;
      background-size: 24px 20px;
      color: #18b2d8;
      text-align: left;
      text-indent: 40px; }
    .group-info .wantaddbox a.jzjr-off {
      width: 118px;
      height: 36px;
      border: 1px solid #18b2d8;
      border-radius: 3px;
      line-height: 38px;
      display: inline-block;
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
      color: #cccccc;
      text-decoration: none; }
  .group-info .adminpanel {
    padding-top: 30px;
    overflow: hidden;
    font-size: 14px; }
    .group-info .adminpanel span {
      float: left;
      padding-top: 10px; }
      .group-info .adminpanel span input {
        margin-right: 5px; }
    .group-info .adminpanel a.zy {
      float: right;
      width: 128px;
      height: 36px;
      border: 1px solid #18b2d8;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      line-height: 36px;
      color: #18b2d8;
      text-decoration: none;
      background: url("../images/zhuanyiico.png") no-repeat left center;
      text-align: left;
      text-indent: 57px; }
    .group-info .adminpanel a.jzjr {
      width: 128px;
      height: 36px;
      border: 1px solid #18b2d8;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      line-height: 36px;
      color: #18b2d8;
      text-decoration: none;
      display: inline-block; }
    .group-info .adminpanel a.jzjr-off {
      border: 1px solid #cccccc;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      line-height: 36px;
      color: #cccccc;
      text-decoration: none; }
    .group-info .adminpanel a.tougao {
      width: 118px;
      height: 36px;
      font-size: 14px;
      line-height: 38px;
      text-decoration: none;
      display: inline-block;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      border: 1px solid #18b2d8;
      margin: 0 6px;
      background: #fff url("../images/feiji-on.png") no-repeat 10px 8px;
      background-size: 24px 20px;
      color: #18b2d8;
      text-align: left;
      text-indent: 40px; }

.add-chengguo {
  width: 128px;
  height: 36px;
  border: 1px solid #18b2d8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  line-height: 36px;
  color: #18b2d8;
  text-decoration: none;
  background: url("../images/addchengguoico.png") no-repeat left center;
  text-align: left;
  text-indent: 45px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 30px; }

.group-left-box {
  border-top: 1px solid #eeeeee;
  padding: 0px 30px 40px 30px; }
  .group-left-box h3 {
    padding: 15px 0; }
  .group-left-box .userlist {
    overflow: hidden;
    width: 290px;
    margin-bottom: 10px; }
    .group-left-box .userlist li {
      float: left;
      overflow: hidden;
      margin: 0 10px 10px 0; }
      .group-left-box .userlist li img {
        width: 48px;
        height: 48px;
        float: left; }
    .group-left-box .userlist li.userlist-admin {
      display: block;
      float: none; }
      .group-left-box .userlist li.userlist-admin img {
        margin-right: 10px; }
      .group-left-box .userlist li.userlist-admin span {
        font-size: 12px;
        background: #18b2d8;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        padding: 0 10px;
        color: #fff; }
      .group-left-box .userlist li.userlist-admin p {
        color: #18b2d8;
        font-size: 14px;
        line-height: 30px; }
  .group-left-box .alluser-link {
    float: right;
    color: #18b2d8;
    font-size: 14px;
    text-decoration: none; }

.user-dongtai h3 a {
  float: right;
  color: #18b2d8;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal; }
.user-dongtai ul {
  padding-top: 15px; }
  .user-dongtai ul li {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden; }
    .user-dongtai ul li span {
      float: right;
      color: #aaaaaa;
      font-size: 12px; }

.user-share input {
  width: 100%;
  height: 36px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  text-indent: 24px;
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
  padding-right: 24px; }
.user-share a {
  float: right;
  color: #18b2d8;
  font-size: 14px;
  text-decoration: none; }

.group-introduce {
  padding: 49px 49px 27px 49px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  position: relative; }
  .group-introduce a.edit {
    right: 50px;
    top: 39px;
    position: absolute;
    width: 118px;
    height: 36px;
    border: 1px solid #18b2d8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 36px;
    color: #18b2d8;
    text-decoration: none;
    background: url("../images/editico.png") no-repeat left center;
    text-align: left;
    text-indent: 57px; }
  .group-introduce h3 {
    margin-bottom: 30px; }
  .group-introduce p {
    line-height: 28px;
    margin-bottom: 20px;
    height: 84px;
    overflow: hidden; }
  .group-introduce p.on {
    height: auto; }
  .group-introduce .showall {
    color: #18b2d8;
    font-size: 14px;
    float: right;
    background: url("../images/arrw-b-s.png") no-repeat left center;
    padding-left: 20px;
    text-decoration: none; }
  .group-introduce .hideall {
    color: #18b2d8;
    font-size: 14px;
    float: right;
    background: url("../images/arrw-t-s.png") no-repeat left center;
    padding-left: 20px;
    text-decoration: none;
    display: none; }

.list-filter-box-r {
  float: right; }

.group-filter h3 {
  line-height: 30px; }

.chengguo {
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 29px; }
  .chengguo ul {
    overflow: hidden; }
  .chengguo li {
    overflow: hidden;
    color: #999;
    font-size: 14px;
    margin-bottom: 29px;
    width: 400px;
    float: left;
    height: 255px;
    position: relative;
    padding-right: 20px; }
    .chengguo li p {
      　word-break: break-all;
      word-wrap: break-word;
      line-height: 24px;
      height: 120px;
      overflow: hidden; }
    .chengguo li a {
      position: relative;
      float: left; }
    .chengguo li h3 {
      color: #333;
      line-height: 40px; }
      .chengguo li h3 a {
        float: none; }
    .chengguo li .bigimg {
      border: 1px solid #dddddd;
      float: left;
      margin-right: 29px; }
    .chengguo li span {
      /*display: block;*/
      height: 30px; }
      .chengguo li span a {
        display: block;
        margin-top: 7px;
        margin-bottom: 3px;
        float: none; }
      .chengguo li span i {
        font-style: normal;
        color: #18b2d8;
        margin-right: 10px; }
      .chengguo li span img {
        float: left;
        margin-right: 5px; }
    .chengguo li span.imgbox {
      width: 192px;
      height: 255px;
      display: inline-block;
      text-align: center;
      background: #fff;
      overflow: hidden;
      /* 兼容标准浏览器 */
      display: table-cell;
      vertical-align: middle;
      /* 兼容IE6/IE7 */
      *display: block;
      *font-size: 349px;
      /* 字体大小约为容器高度的0.873倍 400*0.873 = 349 */
      *font-family: Arial;
      /* 防止非utf-8引起的hack失效问题，如gbk编码 */ }
    .chengguo li span.imgbox img {
      vertical-align: middle; }
    .chengguo li span.ico-3d {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 91;
      top: 0;
      left: 0;
      background: url("../images/ico-3d.png");
      background-size: cover;
      padding: 0px; }
    .chengguo li .btnbox {
      padding-top: 15px;
      text-align: right;
      position: absolute;
      right: 5px;
      bottom: 5px; }
      .chengguo li .btnbox a {
        width: 60px;
        height: 32px;
        display: inline-block;
        background: #18b2d8;
        line-height: 32px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        text-decoration: none;
        font-size: 14px;
        margin-right: 10px; }
      .chengguo li .btnbox a.dis {
        background: #b8c0cc; }

.group-body {
  padding-top: 20px; }
  .group-body .music-listbox {
    min-height: 730px;
    _height: 730px; }
  .group-body .user-txt-listbox {
    min-height: 730px;
    _height: 730px; }

.userlistbox {
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 70px;
  position: relative; }
  .userlistbox a.back {
    float: right;
    width: 80px;
    height: 28px;
    display: inline-block;
    background: #18b2d8;
    color: #fff;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 10px;
    font-size: 14px; }
  .userlistbox h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px; }
  .userlistbox h4 {
    font-size: 16px;
    color: #18b2d8;
    line-height: 30px;
    padding: 20px 0; }
  .userlistbox ul {
    overflow: hidden;
    padding-left: 10px; }
    .userlistbox ul li {
      width: 166px;
      float: left;
      text-align: center;
      font-size: 14px;
      margin-bottom: 40px;
      position: relative; }
      .userlistbox ul li img {
        border-radius: 100px;
        -webkit-border-radius: 100px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px; }
      .userlistbox ul li span {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        background: url("../images/userdel-ico.png");
        position: absolute;
        top: 0px;
        right: 30px;
        display: none; }
    .userlistbox ul li.on span {
      display: inline-block; }

.userlogsbox {
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 70px;
  position: relative; }
  .userlogsbox a.back {
    float: right;
    width: 80px;
    height: 28px;
    display: inline-block;
    background: #18b2d8;
    color: #fff;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 10px;
    font-size: 14px; }
  .userlogsbox h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px; }
  .userlogsbox ul {
    overflow: hidden;
    padding-left: 10px; }
    .userlogsbox ul li {
      height: 49px;
      line-height: 49px;
      border-bottom: 1px solid #eeeeee;
      font-size: 14px;
      padding: 0 20px; }
      .userlogsbox ul li span {
        float: right;
        font-size: 12px; }

.group-addbox {
  color: #333;
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 70px; }
  .group-addbox h2 {
    color: #18b2d8;
    font-size: 20px;
    padding: 20px 0;
    text-align: center; }
  .group-addbox ul {
    width: 746px;
    margin: auto;
    overflow: hidden; }
    .group-addbox ul li {
      overflow: hidden;
      margin-bottom: 20px; }
  .group-addbox label {
    float: left;
    width: 108px;
    height: 30px;
    line-height: 30px;
    display: inline-block; }
  .group-addbox .group-addbox-r {
    float: left;
    width: 637px; }
  .group-addbox .input-1 {
    width: 558px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px; }

.group-logo p {
  height: 120px;
  line-height: 120px;
  color: #999;
  font-size: 14px; }
.group-logo .imgbox {
  width: 120px;
  height: 120px;
  display: inline-block;
  background: #f9f9f9;
  position: relative;
  float: left;
  margin-right: 21px; }
  .group-logo .imgbox i {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    color: #ccc;
    z-index: 98; }
  .group-logo .imgbox img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 99; }
.group-logo .select-file {
  background: #18b2d8;
  width: 120px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px; }

.checekbox-list {
  overflow: hidden; }
  .checekbox-list input {
    margin-right: 10px;
    float: left;
    margin-top: 10px; }
  .checekbox-list span {
    margin-right: 20px;
    font-size: 14px;
    color: #333;
    float: left;
    margin-top: 6px; }

.add-textarea {
  width: 548px;
  height: 88px;
  line-height: 150%;
  border: 1px solid #eee;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  resize: none;
  font-size: 14px;
  padding: 5px; }

.group-add-btn {
  text-align: left;
  padding: 30px 0 50px 0;
  width: 746px;
  text-indent: 108px;
  margin: auto; }
  .group-add-btn a {
    background: #18b2d8;
    width: 150px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    text-decoration: none;
    text-indent: 0; }

/*# sourceMappingURL=group.css.map */
