<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=description content="POPPRO是由Crypton Future Media公司官方独家授权的初音未来官方中文投稿网站。">
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>POPPRO | 列表</title>
    <!--<link rel="shortcut icon" href="../images/favicon.ico"/>-->
<link href=../css/list.css rel=stylesheet></head>
<body>
    <!--头部-->
    <ul id=list>
        <li data-index=0>歌曲1</li>
        <li data-index=1>歌曲2</li>
        <li data-index=2>歌曲3</li>
        <li data-index=3>歌曲4</li>
        <li data-index=4>歌曲5</li>
        <li data-index=5>歌曲6</li>
        <li data-index=6>歌曲7</li>
        <li data-index=7>歌曲8</li>
        <li data-index=8>歌曲9</li>
        <li data-index=9>歌曲0</li>
    </ul>
    <!--/尾部-->
    <script src=../lib/jquery.js></script>
    <script src=../lib/jquery.jplayer.js></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>-->
<script type=text/javascript src=../js/list.js></script></body>
</html>
